* {
	margin: 0;
	padding: 0;
}

body {
	background-color:#202024;
	color: #F6C866;
	text-align: center;
	font-size: 25px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	position: relative;
}

header {
	padding-top: 40px;
	background: url(../img/blik.png) no-repeat right -583px;
	background-size: cover;
}
/* Стили лица в звезде в хедере */
.star{
	position: relative;
}

.star__face {
	position: absolute;
	left: calc(50% - 119px);
	top: calc(50% - 123px);
}
.star__star {
	opacity: 0.5;
}
.star_circle {
	display: none;
}
/* ----------------------------- */
/* Стили планеты и глаза в низу страницы */
.planet,
.eyes {
	position: absolute;
}
.planet {
	left: 5%;
	bottom: 1.5%;
}
.eyes {
	bottom: 12%;
	right: 5%;
}
/* ----------------------------- */

/* #Стили текста и кнопок ДА - НЕТ */
.text-for-btn {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 46px;
}

[type=button]{
	border-radius: 50px;
	width: 310px;
	height: 70px;
	background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
	color: #FFFFFF;
	font-size: 23px;
	border-width: 0px;
	margin-bottom: 34px;
}

.form-quest {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 23px;
	margin-bottom: 35px;
}

.top-form {
	margin-bottom: 146px;	
}
/* ----------------------------- */

.hands {
	display: inline-block;
	width: 442px;
	height: 437px;
	border:1px solid#FFFFFF;
	overflow: visible; 
	padding-bottom: 55px;
}

.hands img {
	top: -75px;
	position: relative;
}

.big-foto {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1440px;
	height: 606px;
	background: url(../img/big-foto.png) no-repeat center;
	margin-bottom: 110px;
}

.big-foto p {
	padding-top: 35px;
}

.rune {
	padding-bottom: 150px;
	padding-top: 105px;
	position: relative;
}

/* Мелкие стили по тексту сайта */
.smol-size {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
}

.header-text,
.smol-size {
	color:rgba(255, 255, 255, 0.6);
	letter-spacing: 0.1em;
}

.header-text {
	padding-top: 15px;
	padding-bottom: 65px;
}

.bad-script {
	font-family: 'Bad Script', cursive;
	color: #FFFFFF;
	padding-bottom: 80px;
 	padding-top: 80px;
    line-height: 35px;
}

.upper {
	text-transform: uppercase;
}
.white {
	color: #FFFFFF;
}
/*--------------------------------------*/

.textnew {
	display: none;
}
/* Стили для блика у кнопок */
button {
	position: relative;
    overflow: hidden;
}

button .flare {
	overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}
/*------------------------------*/
@media screen
and (min-device-width : 375px) 
and (max-device-width : 667px) {

	.line {
		width: 50%;
	}

	.text-for-btn,
	[type=button],
	.hands p,
	.big-foto p {
		font-size: 16px;
	}
	[type=button] {
		width: 50%;
		height: 40px;
	}
	.eyes,
	.planet {
		width: 10%;
	}
	.eyes {
		bottom: 10%;
		right: -5%;
	}
	.planet {
		left: -5%;
	}
	.big-foto {
		width: 100%;
	}
	.hands {
		width: 50%;
	}
}

@media screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : landscape) { 
	.star__star,
	.star__face {
		display: none;
	}
	.star_circle {
		display: inline-block;
	}
	.text-for-btn,
	[type=button],
	.hands p,
	.big-foto p {
		font-size: 16px;
	}
	[type=button] {
		width: 70%;
		height: 40px;
	}
	.eyes,
	.planet {
		width: 20%;
	}
	.eyes {
		bottom: 10%;
		right: -5%;
	}
	.planet {
		left: -5%;
	}
	.big-foto {
		width: 100%;
	}
	.hands {
		width: 95%;
	}
	}